%nav#navbar.navbar.is-fixed-top.is-white{"aria-label" => "main navigation", :role => "navigation"}
  .container.has-text-centered
    .leval
      .level-item.has-text-centered
        = link_to '#', class: 'navbar-item' do
          top
      .level-item.has-text-centered
        = link_to '#', class: 'navbar-item' do
          members
      .level-item.has-text-centered
        = link_to '#', class: 'navbar-item' do
          contact
